body {
    background-color: #181d31;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 0;
    left: 0;
}
.header {
    background-color: #fb6542;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.logo {
    float: left;
    width: 50%;
}
.menu {
    float: left;
    width: 50%;
    text-align: center;
}
h2 {
    color: white;
}
li {
    display: inline;
}
a {
    text-decoration: none;
    color: white;
}
.left-item {
    border: 1px solid green;
    float: left;
    width: 66%;
    height: 100px;
    


}
.right-item {
    float: right;
    width: 30%;
    border: 1px solid red;
    height: 100px;

}

.product {
    height: 325px;
    border: 1px solid white;
    width: 189px;
    background-color: white;
    float: left;
    margin: 10px;
    border-radius: 3px;
}

img {
    height: 140px;
}

section {
    position: relative;
    top: 60px;
}
.body-section {
    padding: 20px;
}
.Addtocart {
    background-color:#fb6542;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
}
.Addtocart:hover {
    background-color: gray;
}