ul {
    background-color: black;
    overflow: hidden;
    list-style-type: none;
}
.menu-text {
    color: white;
    text-decoration: none;
}
li {
    float: left;
    color: white;
    text-align: center;
    padding: 28px;
}