body {
    background: rgb(0, 255, 38) url("logo-main.png") no-repeat right top fixed;
}

body { 
    background-color:aquamarine;
}

h2 {
    text-align: center;
    color: blue;
}
.yellow-heading {
    background-color: black;
    color: yellow;
}
.orange-heading {
    background-color: red;
    color:brown;
}
#white-heading {
    color: white;
}
p {
    color: rebeccapurple !important;
}
img {
    height: 100px;
}

.my-border {
    border: 2px solid greenyellow;
}

